@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply h-screen text-cyan-500 bg-gradient-to-b from-black via-slate-900 to-slate-900;
  font-family: "Nunito", sans-serif;
  background-image: url("../assets/images/night.background.jpg");
  background-size: cover;
  background-position: center;
}

#root {
  @apply h-full;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(20 184 166);
  -webkit-box-shadow: 0 0 0px 1000px rgb(30, 58, 138) inset;
  box-shadow: 0 0 0px 1000px rgb(30, 58, 138) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.st0 {
  /* fill: #ffffff; */
  @apply fill-slate-400;
}
.st1 {
  fill: none;
}
.st2 {
  font-family: "EthnocentricRg-Regular";
}
.st3 {
  font-size: 66.1656px;
}
.st4 {
  font-family: "HiraKakuStdN-W8-83pv-RKSJ-H";
}
.st5 {
  font-size: 21.9789px;
}
